In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException,ElementNotVisibleException,ElementClickInterceptedException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.chrome.options import Options
import time
import warnings
import requests
from tqdm import tqdm

In [3]:
#Ques 1

url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver = webdriver.Chrome()
driver.get(url)
time.sleep(3)

In [4]:
rank=[]
name=[]
artist=[]
upload_date=[]
views=[]

In [5]:
#Scraping Rank
rank_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
try:
    for i in rank_tag[0:30]:
        rank.append(i.text)
except NoSuchElementException:
    rank.append("-")
except ElementNotVisibleException:
    rank.append("--")
    
#Scraping Name
name_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
try:
    for i in name_tag[0:30]:
        v_name=i.text.split('[')
        name.append(v_name[0])
except NoSuchElementException:
    name.append("-")
except ElementNotVisibleException:
    name.append("--")
    
#Scraping Artist
artist_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
try:
    for i in artist_tag[0:30]:
        artist.append(i.text)
except NoSuchElementException:
    artist.append("-")
    
#Scraping Upload Date
date_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
try:
    for i in date_tag[0:30]:
        upload_date.append(i.text)
except NoSuchElementException:
    upload_date.append("-")
    
#Scraping Views
view_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
try:
    for i in view_tag[0:30]:
        views.append(i.text)
except NoSuchElementException:
    views.append("-")

In [7]:
mv=pd.DataFrame({'Rank':rank,'Video Name':name,'Artist':artist,'Upload Date':upload_date,'Views':views})
mv

,Rank,Video Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.48
1,2.,"""Despacito""",Luis Fonsi,"January 12, 2017",8.28
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.82
3,4.,"""Bath Song""",Cocomelon - Nursery Rhymes,"May 2, 2018",6.45
4,5.,"""Shape of You""",Ed Sheeran,"January 30, 2017",6.11
5,6.,"""See You Again""",Wiz Khalifa,"April 6, 2015",6.05
6,7.,"""Wheels on the Bus""",Cocomelon - Nursery Rhymes,"May 24, 2018",5.62
7,8.,"""Phonics Song with Two Words""",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.52
8,9.,"""Uptown Funk""",Mark Ronson,"November 19, 2014",5.05
9,10.,"""Learning Colors â€“ Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",4.99
10,11.,"""Gangnam Style""",officialpsy,"July 15, 2012",4.92
11,12.,"""Masha and the Bear â€“ Recipe for Disaster""",Get Movies,"January 31, 2012",4.56
12,13.,"""Dame Tu Cosita""",Ultra Records,"April 5, 2018",4.46
13,14.,"""Axel F""",Crazy Frog,"June 16, 2009",4.09
14,15.,"""Sugar""",Maroon 5,"January 14, 2015",3.95
15,16.,"""Counting Stars""",OneRepublic,"May 31, 2013",3.89
16,17.,"""Roar""",Katy Perry,"September 5, 2013",3.89
17,18.,"""Baa Baa Black Sheep""",Cocomelon - Nursery Rhymes,"June 25, 2018",3.80
18,19.,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.75
19,20.,"""Sorry""",Justin Bieber,"October 22, 2015",3.72
20,21.,"""Lakdi Ki Kathi""",Jingle Toons,"June 14, 2018",3.71
21,22.,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.67
22,23.,"""Dark Horse""",Katy Perry,"February 20, 2014",3.60
23,24.,"""Humpty the train on a fruits ride""",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.58
24,25.,"""Perfect""",Ed Sheeran,"November 9, 2017",3.56
25,26.,"""Let Her Go""",Passenger,"July 25, 2012",3.53
26,27.,"""Faded""",Alan Walker,"December 3, 2015",3.53
27,28.,"""Girls Like You""",Maroon 5,"May 31, 2018",3.50
28,29.,"""Shree Hanuman Chalisa""",T-Series Bhakti Sagar,"May 10, 2011",3.48
29,30.,"""Lean On""",Major Lazer Official,"March 22, 2015",3.48

In [ ]:
//END

In [38]:
#Ques 4

url = 'https://github.com/'
driver = webdriver.Chrome()
driver.get(url)
time.sleep(3)

In [39]:
open_source = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
try:
    open_source.click()
    time.sleep(5)
except ElementNotInteractableException:
    driver.get(open_source.get_attribute('href'))

In [40]:
trend = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
try:
    driver.get(trend.get_attribute('href'))
except ElementNotInteractableException:
    driver.get(trend.get_attribute('href'))

In [41]:
title= []
description= []
count= []
language= []
urls=[]

In [42]:
#Scraping title
try:
    rt=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
    for i in rt:
        title.append(i.text)
except:
    title.append('-')
    
#Scraping description 
try:
    desc=driver.find_elements(By.XPATH,'//article[@class="Box-row"]/p')
    for i in desc:
        description.append(i.text)
except:
    description.append('-')

for i in [rt,desc]:
    for j in i:
        if i ==rt:
            title.append(j.text)
            urls.append(j.get_attribute('href'))
        if i==desc:
            description.append(j.text)
    
for url in urls:
    driver.get(url)
    driver.implicitly_wait(3)
    dlist=driver.find_elements(By.XPATH,'//div[@class="BorderGrid BorderGrid--spacious"]/div')
    #Scraping contributors   
    try:
        count.append(((dlist[-2].text).split())[1])
    except:
        count.append('-')
    #Scraping language
    try:
        language.append(((dlist[-1].text).split())[1::2])
    except:
        language.append('-')

In [43]:
trending=pd.DataFrame({"Repository_title":title[:25],"Repository_description":description[:25],"Language_used":language[:25],"Contributors_count":count[:25]})
trending

,Repository_title,Repository_description,Language_used,Contributors_count
0,spdustin / ChatGPT-AutoExpert,ðŸš€ðŸ§ ðŸ’¬ Supercharged Custom Instructions for ChatG...,[Python],2
1,PWhiddy / PokemonRedExperiments,Playing Pokemon Red with Reinforcement Learning,"[Jupyter, 98.4%, 1.6%]",2
2,LazyVim / LazyVim,Neovim config for the lazy,[Lua],96
3,ton-community / tact-challenge,A black hole for Internet advertisements,[TypeScript],4
4,pi-hole / pi-hole,All Algorithms implemented in Python,"[Shell, Python, Roff, Dockerfile]",220
5,TheAlgorithms / Python,A blazing fast inference solution for text emb...,[Python],"1,083"
6,huggingface / text-embeddings-inference,A list of Free Software network services and w...,"[Rust, Python, JavaScript, Dockerfile, Makefile]",-
7,awesome-selfhosted / awesome-selfhosted,uBlock Origin - An efficient blocker for Chrom...,"[1,262, 1,251]",No
8,gorhill / uBlock,Curated list of project-based tutorials,"[JavaScript, CSS, HTML, WebAssembly, Shell, Py...",105
9,practical-tutorials / project-based-learning,Build and Deploy a Fully Responsive Modern UI/...,"[104, 93]",No
10,adrianhajdin / travel_ui_ux,Scheduling infrastructure for absolutely every...,"[TypeScript, CSS, JavaScript]",-
11,calcom / cal.com,A launch point for your personal nvim configur...,"[TypeScript, HTML, MDX, JavaScript, CSS, Shell]",463
12,nvim-lua / kickstart.nvim,Hyprland is a highly customizable dynamic tili...,[Lua],70
13,hyprwm / Hyprland,Open Source Surveys & Experience Management So...,"[C++, Nix, CMake, Meson, Makefile, Shell]",180
14,formbricks / formbricks,ðŸ’¥ A collection of all documents leaked by form...,"[TypeScript, MDX, JavaScript, CSS, Shell, Dock...",98
15,iamcryptoki / snowden-archive,Self-hosted game stream host for Moonlight.,[],No
16,LizardByte / Sunshine,ðŸ”¥LeetCode solutions in any programming languag...,"[C++, HTML, CMake, Dockerfile, Objective-C++, ...",79
17,hkirat / docker-roadmap,4D Gaussian Splatting for Real-Time Dynamic Sc...,"[JavaScript, HTML, Dockerfile]",-
18,doocs / leetcode,The Magic Mask for Android,"[Java, C++, Python, Go, TypeScript, Rust, Other]",124
19,hustvl / 4DGaussians,"Multi functional app to find duplicates, empty...","[Python, Shell]",3
20,topjohnwu / Magisk,The Node.jsÂ® Website,"[C++, Kotlin, Rust, Java, Shell, Python, Other]",267
21,qarmin / czkawka,ðŸŒŸ The Multi-Agent Framework: Given one line Re...,"[Rust, Fluent, Other]",56
22,nodejs / nodejs.org,Cataclysm - Dark Days Ahead. A turn-based surv...,"[TypeScript, JavaScript, MDX, CSS, Other]",692
23,geekan / MetaGPT,ðŸš€ðŸ§ ðŸ’¬ Supercharged Custom Instructions for ChatG...,"[Python, Other]",35
24,CleverRaven / Cataclysm-DDA,Playing Pokemon Red with Reinforcement Learning,"[C++, Python, Java, CMake, Shell, Makefile, Ot...","1,922"

In [ ]:
//END

In [46]:
#Ques 5

url = 'https://www.billboard.com'
driver = webdriver.Chrome()
driver.get(url)
time.sleep(3)

In [52]:
menu=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button')
menu.click()
time.sleep(3)

In [53]:
top=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/ul/li[2]')
top.click()

In [54]:
Name=[]
Artist=[]
rank=[]
Rank=[]

In [55]:
#Scraping name
Name_tag=driver.find_elements(By.XPATH,"//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet']")
for i in Name_tag:
    Name.append(i.text)
    
nameTag=driver.find_elements(By.XPATH,"//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")
for i in nameTag:
    Name.append(i.text )

#Scraping artist
Artist_tag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']")
for i in Artist_tag:
    Artist.append(i.text)
    
artistTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
for i in artistTag:
    Artist.append(i.text )


#Scraping rank
rankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
for i in rankTag[:3]:
    rank.append(i.text)
    
RankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
for i in RankTag:
    Rank.append(i.text)
        
# slicing Data
for i in Rank:
    if i=='':
        Rank.remove(i)
        
last_week_rank=Rank[0::3]
last_week_rank.insert(0,rank[0])
peak_rank=Rank[1::3]
peak_rank.insert(0,rank[1])
weeks_on_board=Rank[2::3]
weeks_on_board.insert(0,rank[2])

In [58]:
songs_top=pd.DataFrame({"Song Name":Name[:100],"Artist Name":Artist[:100],"Last Week Rank":last_week_rank[0:100],"Peak Rank":peak_rank[0:100],"Weeks On Board":weeks_on_board[0:100]})
songs_top

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,Paint The Town Red,Doja Cat,1,1,9
1,Snooze,SZA,2,2,43
2,Cruel Summer,Taylor Swift,4,3,22
3,Fast Car,Luke Combs,3,2,28
4,3D,Jung Kook & Jack Harlow,-,5,1
...,...,...,...,...,...
95,Long Journey,Rod Wave,26,26,2
96,But I Got A Beer In My Hand,Luke Bryan,,,
97,Rubicon,Peso Pluma,-,83,1
98,East Side Of Sorrow,Zach Bryan,,,
99,Where She Goes,Bad Bunny,-,59,6

In [ ]:
//END

In [63]:
#Ques 6

url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver = webdriver.Chrome()
driver.get(url)
time.sleep(3)

In [64]:
book=[]
author=[]
sold=[]
publisher=[]
genre=[]

In [65]:
#Scraping Book Name
bok=driver.find_elements(By.XPATH,'/html[1]/body[1]/div[1]/div[2]/div[2]/div[1]/div[2]/div[1]/table[1]/tbody[1]/tr/td[2]')
try:
    for i in bok:
        book.append(i.text)
except:
    book.append("-")
    
#Scraping Author
auth=driver.find_elements(By.XPATH,'/html[1]/body[1]/div[1]/div[2]/div[2]/div[1]/div[2]/div[1]/table[1]/tbody[1]/tr/td[3]')
try:
    for i in auth:
        author.append(i.text)
except:
    author.append("-")
    
#Scraping Sold
vol_sold=driver.find_elements(By.XPATH,'/html[1]/body[1]/div[1]/div[2]/div[2]/div[1]/div[2]/div[1]/table[1]/tbody[1]/tr/td[4]')
try:
    for i in vol_sold:
        sold.append(i.text)
except:
    sold.append("-")
    
#Scraping Publisher
pub=driver.find_elements(By.XPATH,'/html[1]/body[1]/div[1]/div[2]/div[2]/div[1]/div[2]/div[1]/table[1]/tbody[1]/tr/td[5]')
try:
    for i in pub:
        publisher.append(i.text)
except:
    publisher.append("-")
    
#Scraping Genre
gen=driver.find_elements(By.XPATH,'/html[1]/body[1]/div[1]/div[2]/div[2]/div[1]/div[2]/div[1]/table[1]/tbody[1]/tr/td[6]')
try:
    for i in gen:
        genre.append(i.text)
except:
    genre.append("-")

In [66]:
novel=pd.DataFrame({'Book Name':book,'Author Name':author,'Volumes sold':sold,'Publisher':publisher,'Genre':genre})
novel

,Book Name,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [ ]:
//END

In [73]:
#Ques 7

url = 'https://www.imdb.com/list/ls095964455'
driver = webdriver.Chrome()
driver.get(url)
time.sleep(3)

In [74]:
name=[]
year=[]
genre=[]
run_time=[]
ratings=[]
votes=[]

In [75]:
#Scraping Series Name
ser_name=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
try:
    for i in ser_name:
        name.append(i.text)
except:
    name.append("--") 
    
#Scraping Year
ser_year=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
try:
    for i in ser_year:
        year.append(i.text)
except:
    year.append("--")   

#Scraping Genre
s_genre=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[5]')
try:
    for i in s_genre:
        genre.append(i.text)
except:
    genre.append("--")
    
#Scraping Runtime
run=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[3]')
try:
    for i in run:
        run_time.append(i.text)
except:
    run_time.append("--")   

#Scraping Ratings
rat=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]/div/span[2]')
try:
    for i in rat:
        ratings.append(i.text)
except:
    ratings.append("--")
    
#Scraping Votes
vot=driver.find_elements(By.XPATH,'//span[@name="nv"]')
try:
    for i in vot:
        votes.append(i.text)
except:
    votes.append("--")

In [78]:
series=pd.DataFrame({'Name':name,'Year Span':year,'Genre':genre,'Run Time':run_time,'Ratings':ratings,'Votes':votes})
series

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011â€“2019),"Action, Adventure, Drama",57 min,9.2,"2,212,717"
1,Stranger Things,(2016â€“2025),"Drama, Fantasy, Horror",51 min,8.7,"1,282,675"
2,The Walking Dead,(2010â€“2022),"Drama, Horror, Thriller",44 min,8.1,"1,049,913"
3,13 Reasons Why,(2017â€“2020),"Drama, Mystery, Thriller",60 min,7.5,"308,513"
4,The 100,(2014â€“2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"267,471"
...,...,...,...,...,...,...
95,Reign,(2013â€“2017),Drama,42 min,7.5,"52,941"
96,A Series of Unfortunate Events,(2017â€“2019),"Adventure, Comedy, Drama",50 min,7.8,"65,012"
97,Criminal Minds,(2005â€“ ),"Crime, Drama, Mystery",42 min,8.1,"211,837"
98,Scream: The TV Series,(2015â€“2019),"Comedy, Crime, Drama",45 min,7,"44,087"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"269,281"

In [ ]:
//END

In [305]:
#Ques 8

url = 'https://archive.ics.uci.edu/'
driver = webdriver.Chrome()
driver.get(url)
time.sleep(3)

In [306]:
dataset=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
dataset.click()
time.sleep(3)

In [307]:
name = []
types = []
task = []
attribute_type = []
attribute_count = []
instance = []
year = []

In [308]:
j = 0

while j <= 64:   
    time.sleep(2)
    
    exp=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]')
    exp.click()
    time.sleep(3) 
        
    #Scraping Name
    dname=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/h2/a')
    try:
        for i in dname:
            name.append(i.text)
    except:
        name.append("--") 
        
    #Scraping Types    
    dtype=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span')
    try:
        for i in dtype:
            types.append(i.text)
    except:
        types.append("--") 
        
    #Scraping Task    
    dtask=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span')
    try:
        for i in dtask:
            task.append(i.text)
    except:
        task.append("--") 
        
    #Scraping Attribute    
    a_type=driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 overflow-x-auto"]/table/tbody/tr/td[2]')
    try:
        for i in a_type:
            if i == " ":
                pass
            else:
                attribute_type.append(i.text)
    except:
        attribute_type.append("--") 
        
    #Scraping Instance    
    ins=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span')
    try:
        for i in ins:
            instance.append(i.text)
    except:
        instance.append("--") 
        
    #Scraping Attribute count    
    a_count=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span')
    try:
        for i in a_count:
            attribute_count.append(i.text)
    except:
        attribute_count.append("--") 
        
    #Scraping Year    
    dat=driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 overflow-x-auto"]/table/tbody/tr/td[3]')
    try:
        for i in dat:
            if i == " ":
                pass
            else:
                year.append(i.text)
    except:
        year.append("--")   
        
        
    exp2=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]')
    exp2.click()
    time.sleep(2)
    
    driver.execute_script("window.scrollBy(0,10000)")
       
    nexttab=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
    nexttab.click()   
    j += 1

In [311]:
Datasets= pd.DataFrame({"Dataset name":name,"Data type":types,"Task":task,"Attribute type":attribute_type,"Instances":instance,"No of Attribute":attribute_count,"Year":year})
Datasets

,Dataset name,Data type,Task,Attribute type,Instances,No of Attribute,Year
0,Iris,Tabular,Classification,Real,150 Instances,4 Features,7/1/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features,7/1/1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
3,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features,7/1/1991
4,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features,11/1/1995
...,...,...,...,...,...,...,...
645,Average Localization Error (ALE) in sensor nod...,Multivariate,Regression,Real,107 Instances,6 Features,8/14/2023
646,NSF Research Award Abstracts 1990-2003,,,N/A,129K Instances,,11/18/2003
647,Undocumented,,,N/A,,,N/A
648,Opinosis Opinion / Review,Text,Classification,,51 Instances,,7/6/2010
649,DGP2 - The Second Data Generation Program,,,Real,,,N/A

In [ ]:
//END

In [263]:
#Ques 2

url = 'https://www.bcci.tv'
driver = webdriver.Chrome()
driver.get(url)
time.sleep(3)

In [264]:
close=driver.find_element(By.XPATH,'/html/body/div[4]/div/div/button')
close.click()
time.sleep(1)

search=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[1]/ul/div[1]/a[2]')
search.click()
time.sleep(3)

In [267]:
series=[]
place=[]
date=[]
match_time=[]

In [268]:
#Scraping Series
series_tag=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
try:
    for i in series_tag:
        series.append(i.text)
except:
    series.append("-")
    
#Scraping Place
place_tag=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
try:
    for i in place_tag:
        place.append(i.text)
except:
    place.append("-")
    

#Scraping Date
date_tag=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
try:
    for i in date_tag:
        date.append(i.text)
except:
    date.append("-")
    
#Scraping Match Time
time_tag=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
try:
    for i in time_tag:
        match_time.append(i.text)
except:
    match_time.append("-")

In [270]:
fixtures=pd.DataFrame({'Series':series,'Place':place,'Date':date,'Time':match_time})
fixtures

,Series,Place,Date,Time
0,ICC MENS WORLD CUP 2023,"Maharashtra Cricket Association Stadium, Pune","19 OCTOBER, 2023",2:00 PM IST
1,ICC MENS WORLD CUP 2023,"Himachal Pradesh Cricket Association Stadium, ...","22 OCTOBER, 2023",2:00 PM IST
2,ICC MENS WORLD CUP 2023,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,"29 OCTOBER, 2023",2:00 PM IST
3,ICC MENS WORLD CUP 2023,"Wankhede Stadium, Mumbai","2 NOVEMBER, 2023",2:00 PM IST
4,ICC MENS WORLD CUP 2023,"Eden Gardens, Kolkata","5 NOVEMBER, 2023",2:00 PM IST
...,...,...,...,...
206,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","6 SEPTEMBER, 2022",7:30 PM IST
207,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","4 SEPTEMBER, 2022",7:30 PM IST
208,NEW ZEALAND A TOUR OF INDIA,"M.Chinnaswamy Stadium, Bangalore","1 SEPTEMBER, 2022",9:30 AM IST
209,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","31 AUGUST, 2022",7:30 PM IST
210,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","28 AUGUST, 2022",7:30 PM IST

In [ ]:
//END

In [291]:
#Ques 3

url = 'https://www.statisticstimes.com'
driver = webdriver.Chrome()
driver.get(url)
time.sleep(3)

In [292]:
eco=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
eco.click()
time.sleep(1)

ind=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
ind.click()
time.sleep(3)

In [293]:
stat=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
stat.click()
time.sleep(3)

In [294]:
rank=[]
state=[]
GSDP_18=[]
GSDP_19=[]
share=[]
GDP_billion=[]

In [295]:
#Scraping State Rank
st_rank=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[1]')
try:
    for i in st_rank:
        rank.append(i.text)
except:
    rank.append("-")
    
#Scraping State Name    
st_name=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[2]')
try:
    for i in st_name:
        state.append(i.text)
except:
    state.append("-")

#Scraping GDP 19-20
GSDP19=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[3]')
try:
    for i in GSDP19:
        GSDP_19.append(i.text)
except:
    GSDP_19.append("-")
    
#Scraping GDP 18-10
GSDP18=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[4]')
try:
    for i in GSDP18:
        GSDP_18.append(i.text)
except:
    GSDP_18.append("-")
    
#Scraping Share
share18=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[5]')
try:
    for i in share18:
        share.append(i.text)
except:
    share.append("-")
    
#Scraping GDB
GDPbill=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[6]')
try:
    for i in GDPbill:
        GDP_billion.append(i.text)
except:
    GDP_billion.append("-")

In [312]:
GDP=pd.DataFrame({'Rank':rank,'State':state,'GSDP 18-19':GSDP_18,'GSDP 19-20':GSDP_19,'Share 18-19':share,'GDP':GDP_billion})
GDP

   Rank                      State GSDP 18-19 GSDP 19-20 Share 18-19      GDP
0     1                Maharashtra  2,632,792          -      13.94%  399.921
1     2                 Tamil Nadu  1,630,208  1,845,853       8.63%  247.629
2     3              Uttar Pradesh  1,584,764  1,687,818       8.39%  240.726
3     4                    Gujarat  1,502,899          -       7.96%  228.290
4     5                  Karnataka  1,493,127  1,631,977       7.91%  226.806
5     6                West Bengal  1,089,898  1,253,832       5.77%  165.556
6     7                  Rajasthan    942,586  1,020,989       4.99%  143.179
7     8             Andhra Pradesh    862,957    972,782       4.57%  131.083
8     9                  Telangana    861,031    969,604       4.56%  130.791
9    10             Madhya Pradesh    809,592    906,672       4.29%  122.977
10   11                     Kerala    781,653          -       4.14%  118.733
11   12                      Delhi    774,870    856,112       4.10%  117.703
12   13                    Haryana    734,163    831,610       3.89%  111.519
13   14                      Bihar    530,363    611,804       2.81%   80.562
14   15                     Punjab    526,376    574,760       2.79%   79.957
15   16                     Odisha    487,805    521,275       2.58%   74.098
16   17                      Assam    315,881          -       1.67%   47.982
17   18               Chhattisgarh    304,063    329,180       1.61%   46.187
18   19                  Jharkhand    297,204    328,598       1.57%   45.145
19   20                Uttarakhand    245,895          -       1.30%   37.351
20   21            Jammu & Kashmir    155,956          -       0.83%   23.690
21   22           Himachal Pradesh    153,845    165,472       0.81%   23.369
22   23                        Goa     73,170     80,449       0.39%   11.115
23   24                    Tripura     49,845     55,984       0.26%    7.571
24   25                 Chandigarh     42,114          -       0.22%    6.397
25   26                 Puducherry     34,433     38,253       0.18%    5.230
26   27                  Meghalaya     33,481     36,572       0.18%    5.086
27   28                     Sikkim     28,723     32,496       0.15%    4.363
28   29                    Manipur     27,870     31,790       0.15%    4.233
29   30                   Nagaland     27,283          -       0.14%    4.144
30   31          Arunachal Pradesh     24,603          -       0.13%    3.737
31   32                    Mizoram     22,287     26,503       0.12%    3.385
32   33  Andaman & Nicobar Islands          -          -           -        -

In [ ]:
//END